<%- include ("partials/header") -%>

<div class="row">
  <div class="col-6 offset-3">
    <div class="input-group input-group-lg">
      <span class="input-group-text">Search</span>
      <input type="text" class="form-control" id="track-search">
    </div>
  </div>
</div>

<div class="row" id="playlists">

  <% for(const [playlistName, tracks] of Object.entries(playlists)) { %>

    <div class="col-12 my-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= playlistName %></h5>
          <ul class="list-group list-group-flush">
            <% for (const track of tracks) { %>
              <li class="list-group-item track" data-tags="<%= track.name %> <%= track.artist %> <%= track.album %>"><%= track.name %> by <strong><%= track.artist %></strong> - <%= track.album %></li>
            <% } %>
          </ul>        
        </div>
      </div>
    </div>
  </ul>
  <% } %>
</div>

<script>
  $('#track-search').on('keyup', function () {
	const query = $(this).val().toLowerCase();

  // $("#playlists").data("masonry", '')

	$('.track').each(function () {
		if ($(this).data('tags').includes(query)) {
			$(this).show();
		} else {
			$(this).hide();
		}
	});

  // $("#playlists").data("masonry", '{"percentPosition": true }')
});
</script>

<%- include ("partials/footer") -%>
